.Index {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  .info {
    display: inline-block;
    .name {
      margin: 0 0 2px;
      font-size: 40px;
    }
    .speciality {
      font-size: 24px;
      color: #778899;
      margin: 0 0 24px;
      font-weight: bold;
    }
  }
}
